<h1>Movies Found:</h1>

<ul>
<% @movies.each do |movie| %>
  <li>

    <%= link_to( movie.title, "movies/#{movie.id}" ) %>

    <form action="/movies" method="post">
      <input type="hidden" name="id" value="<%= movie.id %>">
      <button>Save</button>
    </form>

    <form action="/movies/favorite" method="post">
      <button>Save & Favorite</button>
    </form>

  </li>
<% end %>
</ul>