<h1>Movies Found:</h1>

<h3><%= @movies.size %> search results</h3>
<ul>
<% @movies.each do |movie| %>
  <li>

    <% @movie = movie %>
    <%= link_to( movie.title, "/search_results/#{movie.id}" ) %>

    <%= buttons %>

  </li>
<% end %>
</ul>